body {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,.9)), url(https://static.invenglobal.com/upload/image/2019/11/27/i1574888444441900.jpeg);
    background-attachment: fixed;
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
}
h1 {
    width: 100%;
}
h3 {
    margin-top: 1em;
}
table {
    width: 100%;
}
.table2 {
    margin: 2em 0;
}
.btn {
    margin-bottom: 1em;
    transition: all .5s;
}
#r {
    display: none;
}