body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7)), url(https://static.invenglobal.com/upload/image/2019/11/27/i1574888444441900.jpeg);
    background-size: cover;
    background-position-x: 50%;
    background-attachment: fixed;
}
nav {
    position: sticky;
    top: 0;
    width: 100%;
}
h1 {
    font-weight: bold;
}
footer {
    cursor: default;
    padding: 1em 0;
    opacity: .7;
    font-size: 1.2em;
    transition: opacity .5s;
}
footer:hover {
    opacity: 1;
}
footer:hover img{
    opacity: .7;
}
footer img {
    height: 1em;
    transition: opacity .5s;
}
footer img:hover {
    opacity: 1;
}